/**/
html{
  scroll-behavior: smooth;
}
 
html [class] > p, 
  html * > * > p,
  html [class] > * > p,
  html [id] > * > p,
  html [class] > * > * > p,
  html [id] > * > * > p {
    /*Sørger for at alle paragrafer, uansett "path" får gitt styling*/
    line-height: 1.3cm;
    font-size: 20px;
}

body{
  background-color: #f3f1ed;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  /*Skjuler horizontal scrollbar*/
  overflow-x: hidden;
}

main{
  width: 100%;
  margin: auto;
}

/* Navigasjon */
.navigasjonsbar{
  position: fixed;
  background-color: rgba(245, 245, 245, 0);
  /*Sørger for at menybaren er gjømt, frem til den åpnes*/
  overflow:hidden;
  top: 10px; 
  right: 10px; 
  height: 63px;
}

.navigasjonsbar a{
  /*Legger til en hitbox for meny-knappen*/
  float:right;
  display:block;
  color: #e1dad8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.side-nav{
  /*Sidemenyen som dekker skjermen, avhengig av enhet*/
  position: fixed;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  z-index: 90;
  opacity: 1;
  background-color: #5D574B; 
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a{
  /*Nav-knapper med størrelse avhengig av parent's width*/
  display:block;
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  color: #FFFFFF; 
  font-size: 80px;
  line-height: 1.3;
  font-weight: bold;
  transition: 0.3s;
}

.side-nav a:hover{
  /*Endrer farge når man holder muspekeren over*/
  color: #4E4841;
}

.side-nav .btn-close{
  /*Kryss-ut knapp som overlapper menyknappen*/
  position: absolute;
  top: -23px;
  right: 8px;
  font-size: 80px;
  margin-left: 50px;
}

#go_top{
  /*Gå til topp knapp som alltid er på skjermen.*/
  position: fixed; 
  bottom: 10px; 
  right: 10px; 
  z-index: 89; 
  border: none;
  background-color: transparent;
  cursor: pointer; 
  padding: 15px; 
  border-radius: 0px; 
  
}


/*Hero og Tittel*/
.hero {
  /*Forside som er på størrelsen av enhetens høyde og bredde.*/
  width:100vw;
  height:100vh;
  background-size:cover;
  display:flex;
  align-items: center;
  justify-content: center;
}


.title {
  /*Tittel med typing animasjon, basert på lengden av tekst og antall bokstaver*/
  width: 30ch;
  animation: typing 2s steps(30), blink .5s step-end infinite alternate;
  white-space: nowrap;
  /*Sørger for at teksten ikke vises før animasjonen er utført*/
  overflow: hidden;
  /*Typewriter pekeren*/
  border-right: 3px solid;
  font-family: monospace;
  font-size: 85px;
  font-weight: bold;
  color: #534f46
}

@keyframes typing {
  /*Starter fra bredde 0 og slutter på bredden i .title*/
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.velkommen h3{
  font-size: 50px;
}

.velkommen{
  width: 60vw;
  border-style: solid;
  border-color: #000000;
  border-width: 1.5px 0px 0 0px;
  margin-left: auto;
  margin-right: auto;
}

/*Main > Articles*/

main > article:nth-child(-n+2){
  /*Gir alle articler fra første til andre artikkel padding*/
  padding: 0px 50px 75px 50px;
}

.oslomet-container{
  /*Grid container med grid-gjenstander nedover*/
  width:60vw;
  border-style: solid;
  border-color: #000000;
  border-width: 1.5px 0px 0 0px;
  margin-left:auto;
  margin-right: auto;
  display: grid; 
  grid-template-columns: .5fr 1fr; 
  grid-template-rows: 0.3fr 1.3fr; 
  gap: 0px 100px; 
  grid-template-areas: 
    "oslomet-tittel oslomet-tittel"
    "oslomet-img oslomet-text"; 
}

.oslomet-tittel{
  grid-area: oslomet-tittel;
  font-size: 40px;
  
}

.oslomet-img{
  grid-area: oslomet-img;
  display:inline-block;
  max-width: 100%;
}

.oslomet-img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.oslomet-text{
  grid-area: oslomet-text;
  font-size: 20px;
  line-height: 1.3cm;
  text-align: center;
}

.btn-oslomet{
  /*Styling til en knapp som redirecter brukeren til en nettside*/
  display:inline-block;
  padding:0.35em 1.2em;
  margin:0 0.3em 0.3em 0;
  background-color: #f3f1ed;
  border:2px solid #9c9584;
  border-radius:0.12em;
  box-sizing: border-box;
  font-family:sans-serif;
  font-size: 20px;
  text-align:center;
  
}

.btn-oslomet:hover{
  /*Endrer farge når brukeren holder pekeren over*/
  cursor:pointer;
  background-color: #9C9584;
}

/*Footer*/

.footer{
  border-style: solid;
  border-color: #000000;
  border-width: 1.5px 0px 0 0px;
  width: 60vw;
  padding: 10px 50px 10px 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/*Media query til "små skjermer"*/
@media only screen and (max-width:800px){
  html [class] > p, 
  html * > * > p,
  html [class] > * > p,
  html [id] > * > p,
  html [class] > * > * > p,
  html [id] > * > * > p {
    /*Gir alle paragrafer gitt styling*/
    font-size: 16px;
    line-height: .7cm;
}

  .navigasjonsbar{
    /*Setter menyknappen på toppen av skjermen, slik den ikke er i veien for tekst og innhold*/
    position:absolute;
  }

  .hero{
    width:100%;
  }

  .side-nav a:not(a:nth-child(1)){
    /*Endrer font og lager mellomrom mellom meny-gjenstandene, UTENOM "kryss-ut" knappen*/
    font-size: 40px;
    padding:50px 0 50px 25px;
    
  }

  .title{
    font-size: 25px;
  }

  main > article:nth-child(-n+2){
    /*Fjerner padding på sidene av alle artikkler, ettersom width blir 90vw*/
    padding: 0px 0px 75px 0px;
  }

  .velkommen{
    width: 90vw;
  }
  
  
  .oslomet-container{
    width:90vw;
    gap:0px 20px
  }

  
  .footer{
    width:90vw;
  }
  
}

/*Media query for "mellomstore enheter"*/
@media only screen and (min-width:800px) and (max-width:1500px) {
  
  html [class] > p, 
  html * > * > p,
  html [class] > * > p,
  html [id] > * > p,
  html [class] > * > * > p,
  html [id] > * > * > p {
    
    font-size: 18px;
    line-height: .8cm;
}

  .title{
    font-size: 45px;
  }
  .velkommen{
    width: 80vw;
    
  }
  .oslomet-container{
    width:80vw;
  }
  .footer{
    width:80vw;
  }
}