@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;700;800&display=swap');
body{
  font-family: 'Arial', Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif;
}

main{
  background-color: whitesmoke;
  width: 100%;
  margin: auto;
}

.velkommen h1{
  font-size: 50px;
}
/*Navigasjon*/
.navigasjonsbar{
  background-color: whitesmoke;
  overflow:hidden;
  height: 63px;
}

.navigasjonsbar a{
  float:right;
  display:block;
  color: #e1dad8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navigasjonsbar ul{
  margin: 8px 0 0 0;
  list-style:none;
}

.navigasjonsbar a:hover{
  background-color: #e1dad800;
  color: #648181;
}

.side-nav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #648181; 
  opacity: 1;
  overflow-x:hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a{
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 55px;
  font-weight: bold;
  color:#e1dad8; 
  display:block;
  transition: 0.3s;
}

.side-nav a:hover{
  color: #000000;
}

.side-nav .btn-close{
  position: absolute;
  top:-38px;
  right: 1px;
  font-size: 80px;
  margin-left: 50px;
}

#main {
  transform: margin-top 0.5s;
  padding: 20px;
  overflow:hidden;
  width: 100%;
}

.hero {
  width:100%;
  height:50rem;
  /*background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("/bilder/svg/test.jpeg") center no-repeat;*/
  background-size:cover;
  background-attachment: fixed;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.title {
  font-size: 85px;
  font-weight: bold;
  color: #648181
}

@media(max-width:650px){
  .side-nav a{
    
    font-size: 35px;
    
  }


}
