@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;700;800&display=swap');
body{
  font-family: 'Arial', Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif;
}

main{
  background-color: whitesmoke;
  width: 100%;
  margin: auto;
}

.velkommen h1{
  font-size: 50px;
}
/*Navigasjon*/
.navigasjonsbar{
  position: absolute;
  background-color: rgba(245, 245, 245, 0.3);
  overflow:hidden;
  top: 10px; 
  right: 10px; 
  height: 63px;
}


.navigasjonsbar a{
  float:right;
  display:block;
  color: #e1dad8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



.navigasjonsbar a:hover{
  background-color: #e1dad800;
  color: #9C9584;
}

.side-nav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  background-color: #9C9584; 
  opacity: 1;
  overflow-x:hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a{
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 55px;
  font-weight: bold;
  color:#e1dad8; 
  display:block;
  transition: 0.3s;
}

.side-nav a:hover{
  color: #000000;
}

.side-nav .btn-close{
  position: absolute;
  top:-28px;
  right: 10px;
  font-size: 80px;
  margin-left: 50px;
}

#main {
  transform: margin-top 0.5s;
  padding: 20px;
  overflow:hidden;
  width: 100%;
}

.hero {
  width:100%;
  height:100vh;
  /*background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("/bilder/svg/test.jpeg") center no-repeat;*/
  background-size:cover;
  background-attachment: fixed;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.title {
  font-size: 85px;
  font-weight: bold;
  color: #9C9584;
}

@media(max-width:650px){
  .side-nav a{
    
    font-size: 35px;
    
  }


}

#go_top{
  
  position: fixed; 
  bottom: 10px; 
  right: 10px; 
  z-index: 89; 
  border: none;
  
  background-color: transparent;
  cursor: pointer; 
  padding: 15px; 
  border-radius: 0px; 
  
}
