@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;700;800&display=swap');


/*Generell*/
html{
  scroll-behavior: smooth;
}

body{
  background-color: #EFEAE4;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

main{
  
  width: 100%;
  margin: auto;
  
}

/*Navigasjon*/
.navigasjonsbar{
  position: absolute;
  background-color: rgba(245, 245, 245, 0);
  overflow:hidden;
  top: 10px; 
  right: 10px; 
  height: 63px;
}


.navigasjonsbar a{
  float:right;
  display:block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



.side-nav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  background-color: whitesmoke; 
  opacity: 1;
  overflow-x:hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a{
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 80px;
  line-height: 1.3;
  font-weight: bold;
  color:#4E4841; 
  display:block;
  transition: 0.3s;
}

.side-nav a:hover{
  color: #4E4841;
}

.side-nav .btn-close{
  position: absolute;
  top: -23px;
  right: 8px;
  font-size: 80px;
  margin-left: 50px;
}

/*Hero og Tittel*/
.hero {
  width:100vw;
  height:100vh;
  
  background-size:cover;
  display:flex;
  background-image: linear-gradient(#534f46, #9c9584, #EFEAE4 );
  
  align-items: center;
  justify-content: center;
}

.title {
  width: 17ch;
  animation: typing 2s steps(17), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 113px;
  font-weight: bold;
  color: #534f46
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

/*Main*/
main > article:nth-child(-n+3){
  padding: 0 50px 75px 50px;
}

 

#main {
  transform: margin-top 0.5s;
  overflow: hidden;
  width: 100%;
}

/*Main > Article*/
.student{
  width:60vw;
  border-style: solid;
  border-color: #000000;
  border-width: 1.5px 0px 0 0px;
  margin-left:auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 1.4fr .5fr;
  gap: 17px 17px; 
  grid-auto-flow: row;
  grid-template-areas:
    "Tittel Tittel"
    "parag1 img-container"
    "parag2 parag2";
}

.student-tittel { 
  grid-area: Tittel; 
  font-size: 40px;
}

.img-container { 
  grid-area: img-container;
  display: inline-block;
  max-width: 100%;
}

.img-container img{
  height:100%;
  width:100%;
  
  object-fit: cover;
}
.parag1 { 
  grid-area: parag1; 
  font-size: 20px;
  line-height: 1.3cm;
}

.parag2 { 
  grid-area: parag2; 
  font-size: 20px;
  line-height: 1.3cm;
  
}


.god-student{
   
  border-style: solid;
  border-color: #000000;
  border-width: 1.5px 0px 0 0px;
  width:60vw;
  margin-left:auto;
  margin-right: auto;
}


.god-student-text > p{
  font-size: 20px;
  line-height: 1.3cm;
  font-family: sans-serif;
  
}
.god-student-text > h3 {
  font-size: 40px;
}

.arbeidsmengde{
  width:60vw;
  border-style: solid;
  border-color: #000000;
  border-width: 1.5px 0px 0 0px;
  margin-left:auto;
  margin-right: auto;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 0.3fr 1.3fr; 
  gap: 0px 17px; 
  grid-template-areas: 
    "arbeid-tittel arbeid-tittel"
    "arbeid-img-container arbeid-parag1"; 
  
 
}

.arbeid-tittel { 
  grid-area: arbeid-tittel;
  font-size: 40px;
 }
.arbeid-img-container { 
  grid-area: arbeid-img-container;
  display: inline-block;
  max-width: 100%;
 }

 .arbeid-img-container img{
  height:100%;
  width:100%;
  object-fit: cover;
}
.arbeid-parag1 { 
  grid-area: arbeid-parag1;
  font-size: 20px;
  line-height: 1.3cm;
}





/*Go Top*/
#go_top{
  position: fixed; 
  bottom: 10px; 
  right: 10px; 
  z-index: 89; 
  border: none;
  background-color: transparent;
  cursor: pointer; 
  padding: 15px; 
  border-radius: 0px; 
}

/*Footer*/
.footer{
  border-style: solid;
  border-color: #000000;
  border-width: 1.5px 0px 0 0px;
  width: 60vw;
  padding: 10px 50px 10px 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto
}





@media only screen and (max-width:800px){
  html [class] > p, 
  html * > * > p,
  html [class] > * > p,
  html [id] > * > p,
  html [class] > * > * > p,
  html [id] > * > * > p {
    font-size: 16px;
    line-height: .7cm;
}
  
  .side-nav a:not(a:nth-child(1)){
    font-size: 40px;
    padding:50px 0 50px 25px;
    
  }
  
  .title{
    font-size: 45px;
  }

  main > article:nth-child(-n+3){
    padding: 0px 0px 75px 0px;
  }

  .student{
    flex-direction: column;
    width: 90vw;
  }

  .god-student{
    width: 90vw;
  }

  .arbeidsmengde{
    width: 90vw;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.3fr 1.2fr 1.5fr; 
    
    grid-template-areas: 
      "arbeid-tittel arbeid-tittel"
      "arbeid-img-container arbeid-img-container"
      "arbeid-parag1 arbeid-parag1"; 
  }
  
  
  .student-text{
    padding-left: 0;
  }
  
  .footer{
    width:90vw;
  }
  
}


@media only screen and (min-width:800px) and (max-width:1500px) {
 

  html [class] > p, 
  html * > * > p,
  html [class] > * > p,
  html [id] > * > p,
  html [class] > * > * > p,
  html [id] > * > * > p {
    font-size: 18px;
    line-height: .8cm;
}



.title{
  font-size: 65px;
}
.student{
  width: 80vw;
}
.god-student{
  width: 80vw;
}
.arbeidsmengde{
  width: 80vw;
}

.footer{
  width:80vw;
}
}
