@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;700;800&display=swap');

html{
  scroll-behavior: smooth;
}

body{
  font-family: sans-serif;
  background-color: #EFEAE4;
  width: 100%;
  padding: 0;
  margin: 0;
  
}

main{
  background-color: #EFEAE4;
  width: 100%;
}



/*Navigasjon*/
.navigasjonsbar{
  position: absolute;
  background: #efeae400;
  overflow:hidden;
  top: 10px; 
  right: 10px; 
  height: 63px;
}


.navigasjonsbar a{
  float:right;
  display:block;
  color: #EFEAE4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.navigasjonsbar a:hover{
  background-color: #e1dad800;
  color: #9c9584;
}

.side-nav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  background-color: #9C9584; 
  opacity: 1;
  overflow-x:hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a{
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 6rem;
  line-height: 1.3;
  font-weight: bold;
  color:#EFEAE4; 
  display:block;
  transition: 0.3s;
}

.side-nav a:hover{
  color: #534f46;
}

.side-nav .btn-close{
  position: absolute;
  top:-28px;
  right: 10px;
  font-size: 80px;
  margin-left: 50px;
}



main > article:nth-child(-n+3){
  border-style: solid;
  border-color: #534f46;
  border-width: 0 0px 1.5px 0px;
  padding: 75px 50px 75px 50px;
}
  main > article:nth-child(2){
    background: #9C9584
    
  }

#main {
  transform: margin-top 0.5s;
  overflow: hidden;
  width: 100%;
}


.student{
  background-color: #EFEAE4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 1.4fr 1.3fr;
   gap: 17px 17px; 
  grid-auto-flow: row;
  grid-template-areas:
    "Tittel Tittel"
    "parag1 img-container"
    "parag2 parag2";
}

.student-tittel { 
  grid-area: Tittel; 
  font-size: 40px;
}

.img-container { 
  grid-area: img-container;
}
.img-container img{
  height:100%;
  width:100%;
  
  object-fit: cover;
}
.parag1 { 
  grid-area: parag1; 
  font-size: 20px;
  line-height: 1.3cm;
}

.parag2 { 
  grid-area: parag2; 
  font-size: 20px;
  line-height: 1.3cm;
}





.god-student{
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
}
.god-student-text{
  width: 60vw;
  
}

.god-student > p{
  font-size: 20px;
  line-height: 1.3cm;
  font-family: sans-serif;
  
}
.god-student > h3 {
  font-size: 40px;
}

.arbeidsmengde{
  background-color: #EFEAE4;
  
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
 
}

.arbeidsmengde-text{
  height: 100%;
  padding-left: 80px ;
  
}
.arbeidsmengde-text > h3{
  font-size: 40px;
}
.arbeidsmengde-text > p {
  font-size: 20px;
  line-height: 1.3cm;
  
}


.hero {
  width:100%;
  height:100vh;
  
  background-size:cover;
  background-attachment: fixed;
  display:flex;

  background-image: linear-gradient(#534f46, #9C9584  , #dbd5ce, #EFEAE4 );
  
  align-items: center;
  justify-content: center;
}

.title {
  width: 17ch;
  animation: typing 2s steps(17), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 85px;
  font-weight: bold;
  color: #534f46
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

article {
  margin-left: 0;
}  

#go_top{
  position: fixed; 
  bottom: 10px; 
  right: 10px; 
  z-index: 89; 
  border: none;
  background-color: transparent;
  cursor: pointer; 
  padding: 15px; 
  border-radius: 0px; 
}

footer{
  background-color: #9C9584;  
}



@media only screen and (max-width:750px){
  html [class] > p, 
  html * > * > p,
  html [class] > * > p,
  html [id] > * > p,
  html [class] > * > * > p,
  html [id] > * > * > p {
    font-size: 16px;
    line-height: .7cm;
}
  
  .side-nav a{
    font-size: 35px;
  }
  
  .title{
    font-size: 45px;
  }

 

  .student{
    flex-direction: column;
  }

  .arbeidsmengde{
    flex-direction: column;
  }

  .student-text{
    padding-left: 0;
  }
  
  .arbeidsmengde-text{
    padding-left: 0;
  }
}

@media only screen and (min-width:750px) and (max-width:1000px) {
 

  

  html [class] > p, 
  html * > * > p,
  html [class] > * > p,
  html [id] > * > p,
  html [class] > * > * > p,
  html [id] > * > * > p {
    font-size: 18px;
    line-height: .8cm;
}

}
