@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;700;800&display=swap');
/*Generell*/
html{
  scroll-behavior: smooth;
}

body{
  background-color: #EFEAE4;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

main{
  
  width: 100%;
  margin: auto;
  
}

/*Navigasjon*/
.navigasjonsbar{
  position: absolute;
  background-color: rgba(245, 245, 245, 0);
  overflow:hidden;
  top: 10px; 
  right: 10px; 
  height: 63px;
}


.navigasjonsbar a{
  float:right;
  display:block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



.side-nav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  background-color: whitesmoke; 
  opacity: 1;
  overflow-x:hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a{
  padding: 10px 10px 10px 30px;
  text-decoration: none;
  font-size: 80px;
  line-height: 1.3;
  font-weight: bold;
  color:#9c9584; 
  display:block;
  transition: 0.3s;
}

.side-nav a:hover{
  color: #534f46;
}

.side-nav .btn-close{
  position: absolute;
  top: -23px;
  right: 8px;
  font-size: 80px;
  margin-left: 50px;
}

/*Hero og Tittel*/
.hero {
  width:100vw;
  height:100vh;
  
  background-size:cover;
  display:flex;
  background-image: linear-gradient(#534f46, #9C9584 , #EFEAE4 );
  
  align-items: center;
  justify-content: center;
}

.title {
  width: 17ch;
  animation: typing 2s steps(17), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 113px;
  font-weight: bold;
  color: #534f46
}
#go_top{
  
  position: fixed; 
  bottom: 10px; 
  right: 10px; 
  z-index: 89; 
  border: none;
  background-color: transparent;
  cursor: pointer; 
  padding: 15px; 
  border-radius: 0px; 
  
}



.title {
  width: 19.5ch;
  animation: typing 2s steps(19), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 113px;
  font-weight: bold;
  color: #534f46
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

#main {
  transform: margin-top 0.5s;
  padding: 20px;
  overflow:hidden;
  width: 100%;
}
ol li{
  margin: 40px;
}

p{
  padding: 1rem 2rem 1rem;
  font-size: 17px;
  font-family: sans-serif;
  line-height: 0.75cm;
}

h1,h3{
  padding: 0rem 2rem 1rem;
}

.falske-nyheter {
  width: 100%;
  background-color: #EFEAE4;

  border-style: solid;
  border-width: 1.5px 0px 0 0px;
  width: 60vw;
  padding: 70px 50px 70px 50px;
  margin-left: auto;
  margin-right: auto
  
}


.falske-nyheter-tittel {
  font-size: 40px;
 
}

.falske-nyheter-parag2 > p {
  font-size: 20px;
  line-height: 1.3cm;
}


.teknologi{
  width: 100%;
  background-color: #EFEAE4 ;
  border-style: solid;
  border-width: 1.5px 0px 0 0px;
  width: 60vw;
  padding: 70px 50px 70px 50px;
  margin-left: auto;
  margin-right: auto
}
.teknologi-tittel > h3{
  font-size: 40px;
}

.teknologi-parag1 > p{
  font-size: 20px;
  line-height: 1.3cm;
}

.påvirkning {
  border-style: solid;
  border-color: #000000;
  border-width: 1.5px 0px 0 0px;
  width: 60vw;
  padding: 70px 50px 70px 50px;
  margin-left: auto;
  margin-right: auto
}

.påvirkning-tittel {
  font-size: 40px;
}

.påvirkning-parag3 > p {
  font-size: 20px;
  line-height: 1.3cm;
}

.påvirkning-parag3 > ol {
  font-size: 20px;
  line-height: 1.3cm;
  font-family: sans-serif;
}

.footer{
  border-style: solid;
  border-color: #000000;
  border-width: 1.5px 0px 0 0px;
  width: 60vw;
  padding: 10px 50px 10px 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto
}



@media(max-width:650px){
  .side-nav a{
    
    font-size: 35px;
    
  }

}

.kilder a{
  text-decoration: none;
  color: black

}